html,body{
    background: transparent;
    border:0;
    margin:0;
    padding: 0;
    vertical-align: baseline;
   
}


img{
    width:420px;
    height:430px;
    display:block;
    margin:auto;
    padding: 2px;
    
}

